.menu {
  display: flex;
  width: 50vw;
  height: fit-content;
  justify-content: space-around;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 200px;
  background: pink;
  width: 50vw;
}